kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: kind
networking:
  apiServerAddress: {{ cluster_ip }}
  apiServerPort: {{ cluster_port }}
nodes:
{% for n in range(control_nodes|int) %}
  - role: control-plane
    kubeadmConfigPatches:
    - |
      kind: InitConfiguration
      nodeRegistration:
        kubeletExtraArgs:
          node-labels: "ingress-ready=true"
    extraPortMappings:
    - containerPort: 80
      hostPort: 80
      protocol: TCP
    - containerPort: 443
      hostPort: 443
      protocol: TCP
{% endfor %}
{% for n in range(worker_nodes|int) %}
  - role: worker
{% endfor %}
